$font-content: 'Open Sans', sans-serif;

$blue-color: #2BD4D9;
$dark-blue-color: #00BBC1;
$gold-color: #D2BA55;
$pink-color: #D56F93;
$green-color: #39D0AF;
$grey-color: #2C3239;
$grey-text: #777777;

$box-shadow: 1px 2px 0 rgba(0,0,0,0.3);