<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <header class="header">
    <div class="site-header site-header-container">
      <img class="site-left" src="../images/logo.svg">
      <div class="site-middle">
        <img class="active" src="../images/device/desktop.svg">
        <img src="../images/device/tablet.svg">
        <img src="../images/device/mobile.svg">
      </div>
      <div class="site-right">
        <div class="site-right-item">
          <sup>$</sup>
          <span class="price-amount">16</span>
          <div class="price-interval">
            <span>/ month</span>
            <span class="price-notes">Paid Annually</span>
          </div>
        </div>
        <div class="site-right-item">
          <a class="start-btn">Get Started</a>
        </div>
      </div>
    </div>

    <div class="site-branding">
      <a href="#"><img src="../images/logo-summer-day.png"></a>
    </div>
    <nav class="main-navigation">
      <ul class="primary-menu">
        <li class="menu-item">
          <a class="active" href="#">home</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#">home boxed</a></li>
            <li class="sub-menu-item"><a href="#">home with shop</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#">examples</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#">left sidebar</a></li>
            <li class="sub-menu-item"><a href="#">normal title</a></li>
            <li class="sub-menu-item"><a href="#">top border</a></li>
            <li class="sub-menu-item"><a href="#">blank page</a></li>
            <li class="sub-menu-item"><a href="#">typography</a></li>
            <li class="sub-menu-item"><a href="#">media examples</a></li>
            <li class="sub-menu-item"><a href="#">live backend demo</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#">about</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#">documentation</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#">shop</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#">cart</a></li>
            <li class="sub-menu-item"><a href="#">checkout</a></li>
            <li class="sub-menu-item"><a href="#">my account</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#">blog</a>
        </li>
        <li class="menu-item">
          <a href="#">gallery</a>
        </li>
        <li class="menu-item">
          <a href="#">contact</a>
          <ul class="sub-menu">
            <li class="sub-menu-item"><a href="#">contact 2</a></li>
            <li class="sub-menu-item"><a href="#">contact 3</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <section class="carousel">
      <img src="../images/banner1.jpg">
    </section>
    <div class="container">
      <section class="intro">
        <div class="intro-content">
          <p>For over 7 years we have been creating unique website templates for thousands of people. <br>
          We love what we do and hope all our clients enjoy making our websites their own. We specialise in WordPress templates that are easily customized and are ready to have a variety of plugins installed to suit any business.</p>
        </div>
      </section>
      <section class="elementor">
        <div class="row elementor-row">
          <div class="col-lg-8 col-md-8 elementor-left">
            <article class="elementor-left-content">
              <div class="entry-header">
                <div class="elementor-widget">
                  <a href="#"><i class="fa fa-comment" aria-hidden="true"></i><span>0</span></a>
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i><span class="share">Share</span></a>
                </div>
                <div class="elementor-image">
                  <img src="../images/entry1.jpg">
                </div>
                <div class="elementor-title">
                  <h2 class="entry-title"><a href="#">Surfs Up – Best locations</a></h2>
                  <a class="entry-meta" href="#">September 16, 2016</a>
                </div>
              </div>
              <div class="entry-content">
                <p>Type your custom Excerpt here. This will display on the blog summary pages.</p>
              </div>
              <div class="blog-button">
                <a href="#">More</a>
              </div>
            </article>
            <article class="elementor-left-content">
              <div class="entry-header">
                <div class="elementor-widget">
                  <a href="#"><i class="fa fa-comment" aria-hidden="true"></i><span>0</span></a>
                  <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i><span class="share">Share</span></a>
                </div>
                <div class="elementor-image">
                  <img src="../images/entry2.jpg">
                </div>
                <div class="elementor-title">
                  <h2 class="entry-title"><a href="#">Surfs Up – Best locations</a></h2>
                  <a class="entry-meta" href="#">September 16, 2016</a>
                </div>
              </div>
              <div class="entry-content">
                <p>A vacation or holiday is a leave of absence from a regular occupation, or a specific trip or journey, usually for the purpose of recreation or tourism. People often take a vacation during specific holiday observances, or for specific festivals or celebrations. Vacations are often spent with friends or family. A person may take a longer break from work, such as a sabbatical, gap year, or career break. The concept[…]</p>
              </div>
              <div class="blog-button">
                <a href="#">More</a>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-4 elementor-right">
            <article class="elementor-right-content">
              <div class="entry-title">
                <h3>About</h3>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 entry-description">
                  <p>dtbaker is a website designer with a professional career spanning over 15 years.</p>
                </div>
                <div class="col-lg-6 col-md-6 entry-profile">
                  <img src="../images/profile-1.jpg" alt="profile">
                </div>
              </div>
            </article>
            <article class="elementor-right-content">
              <div class="entry-title">
                <h3>Categories</h3>
              </div>
              <ul class="category">
                <li class="category-item"><a href="#">Design</a></li>
                <li class="category-item"><a href="#">Life</a></li>
                <li class="category-item"><a href="#">Marketing</a></li>
                <li class="category-item"><a href="#">WordPress</a></li>
              </ul>
            </article>
            <article class="elementor-right-content">
              <div class="entry-title">
                <h3>Tags</h3>
              </div>
              <div class="tags">
                <a href="#">beach</a>
                <a href="#">creative</a>
                <a href="#">fun</a>
                <a href="#">summer</a>
                <a href="#">theme</a>
                <a href="#">wordpress</a>
              </div>
            </article>
            <article class="elementor-right-content">
              <div class="entry-title">
                <h3>Instagram</h3>
              </div>
              <ul class="row instagram">
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/1.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/2.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/3.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/4.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/5.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/6.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/7.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/8.jpg"></a>
                </li>
                <li class="col-lg-4 col-md-4 instagram-item">
                  <a href="#"><img src="../images/instagram/9.jpg"></a>
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section> 
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 footer-card">
          <h3 class="footer-title">About</h3>
          <div class="footer-content">
            <p>Baker Web Development is the combined efforts of two freelance web developers Hayley (design) & Dave (code). We have been working together since 2005.</p>
            <p>This theme is available for purchase on <a href="#">ThemeForest.net</a>.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 footer-card">
          <h3 class="footer-title">Links</h3>
          <div class="footer-content">
            <ul class="links-list">
              <li class="link-item"><a href="#">ThemeForest</a></li>
              <li class="link-item"><a href="#">CodeCanyon</a></li>
              <li class="link-item"><a href="#">dtbaker.net</a></li>
              <li class="link-item"><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 footer-card">
          <h3 class="footer-title">Newsletter</h3>
          <div class="footer-content">
            <form class="newsletter">
              <input type="text" name="name" placeholder="Your Name">
              <input type="email" name="name" placeholder="Your Email">
            </form>
            <a href="#" class="submit-btn">Submit</a>
            <div class="capchar">
              <div class="capchar-left">
                <p>protected by <strong>reCAPTCHA</strong></p>
                <p>
                  <span><a href="#">Privacy</a></span>
                  <span><a href="#">Terms</a></span>
                </p>
              </div>
              <div class="capchar-right">
                <div class="capchar-right-image">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 footer-card">
          <h3 class="footer-title">Contact</h3>
          <div class="footer-content">
            <ul class="contacts-list">
              <li class="contact-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="contact-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="contact-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li class="contact-item"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
