img {
  max-height: 100%;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto !important;
}

main {
  max-width: 100%;
}

button {
  cursor: pointer;
}

header {
  display: block;
  nav {
    display: block;
    .top-nav {
      margin: 0;
      padding: 10px 0px;
      .logo {
        height: 80px;
        padding: 0;
      }
      .company-name {
        padding: 0;
        text-align: center;
        margin-top: 13px;
        h5 {
          font-weight: 600;
        }
      }
      .contact {
        text-align: right;
        padding: 0;
        a {
          line-height: 80px;
          text-decoration: none;
          color: #3498db;
          span {
            color: #000;
          }
          i {
            border: 1px solid #3498db;
            padding: 6px;
            border-radius: 100%;
          }
        }
      }
    }

    .middle-nav {
      border-top: 1px solid #95a5a6;
      border-bottom: 1px solid #95a5a6;
      margin: 0;
      .middle-nav-left {
        padding: 0;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
            padding: 10px;
            border-right: 1px solid #95a5a6;
            a {
              color: #7f8c8d;
              text-decoration: none;
              &:hover, &.active {
                color: #3498db; 
              }
            }
          }
        }
      }
      .middle-nav-right {
        text-align: right;
        padding: 0;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
            padding: 5px;
            button {
              width: 32px;
              height: 32px;
              background-color: #fff;
              border-radius: 100%;
              outline: none;
            }
            .facebook {
              color: #3F60B4;
              border: 1px solid #3F60B4;
            }
            .google {
              color:#F03F34;
              border: 1px solid #F03F34;
            }
            .youtube {
              color: #FF0000;
              border: 1px solid #FF0000;
            }
          }
        }
      }
    }
    
    .bottom-nav {
      height: 130px;
      border-bottom: 1px solid #95a5a6;
      width: 100%;
      background-image: url("../img/TDBanner4.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .container {
        display: table;
        height: 100%;
        ul {
          display: table-cell;
          padding: 0;
          margin: 0;
          list-style: none;
          vertical-align: middle;
          li {
            display: inline-block;
            a {
              color: #000;
              font-weight: 600;
              font-size: 14px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

main {
  margin-top: 80px;
  .left-content {
    padding: 0;
    .menu-toggle {
      width: 100%;
      border-radius: 2px;
      &:nth-child(2) {
        margin-top: 5px;
      }
      .head-menu {
        display: block;
        .head-btn {
          width: 100%;
          text-align: left;
          background-color: #F1F1F1; 
          padding: 15px;
          border: none;
          cursor: pointer;
          outline: none;
          span {
            float: right;
            font-weight: 600;
          }
        }
      }
      .body-menu {
        ul {
          li {
            padding: 10px;
            a {
              color: #000;
            }
          }
        }
      }
    }
    
    .set-calendar {
      background-color: #F1F1F1;
      border-radius: 2px;
      width: 100%;
      margin-top: 30px;
      padding: 15px;
      .head-form {
        padding: 10px 0px;
        border-bottom: 2px solid #3498db;
        h4 {
          font-weight: 600; 
        }
      }
      .body-form {
        text-align: center;
        .set-calendar-form {
          input {
            margin-top: 15px;
            width: 100%;
            padding: 10px;
            border: none;
          }
        }
        .calendar-submit-btn {
          background-color: #2ecc71;
          border: none;
          color: #fff;
          margin-top: 10px;
          padding: 10px 20px;
          font-weight: 600;
          outline: none;
          cursor: pointer;
        }
      }
    } 
  }

  .right-content {
    width: 100%;
    padding: 0;
    padding-left: 30px;
    .item {
      border-radius: 2px;
      margin-bottom: 30px;
      .card {
        border: 1px solid #95a5a6;
        .caption-item {
          padding: 15px;
          padding-bottom: 0px;
          h3 {
            font-weight: 600;
          }
          p {
            margin: 0;
          }
        }
        a {
          text-align: right;
          i {
            color: #fff;
            background-color: #4da6ff;
            padding: 5px 5px 5px 5px;
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
  }
}

footer {
  background-color: #4da6ff;
  color: #fff;
  padding: 40px 0px 15px 0px;
  .footer-content {
    margin: 0;
    padding-bottom: 25px;
    .footer-item {
      padding: 0;
      h5 {
        font-weight: 600;
      }
      ul {
        padding-left: 18px;
        margin: 0;
        li {
          padding-top: 15px;
          a {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
      .social-network {
        list-style: none;
        padding: 0;
        li {
          padding-top: 10px;
          button {
              width: 30px;
              height: 30px;
              border-radius: 100%;
              outline: none;
              color: #fff;
              border: 1px solid #fff;
              background-color: #4da6ff;
            }
        }
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid #fff;
    padding-top: 20px;
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}