.main-content {
  padding-bottom: 20px;
  position: relative;
  z-index: 999;
}

.image-gallery {
  position: relative;
  z-index: 2;
  .carousel-button {
    display: block;
    position: absolute;
    top: 55%;
    left: 13%;   
  }
  button {
    display: inline-block;
    background: url("../image/nav-slider.png") no-repeat;
    width: 53px;
    height: 54px;
    transition: none;
    box-shadow: none;
    &:hover {
      background-position: 0 -54px;
    }
  }
  .carousel-right {
    background: url("../image/nav-slider.png") no-repeat -53px 0;
    &:hover {
      background-position: -53px -54px;
    }
  }
}

.carousel-item {
  img {
    box-shadow: 1px 2px 0 rgba(0,0,0,0.3);
    filter: grayscale(40%);
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../img/top-shadow.png) repeat-x;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }
  .carousel-caption {
    display: block;
    position: absolute;
    top: 25%;
    left: 13%;
    font-weight: 100;
    text-transform: uppercase;
    font-family: $font-title;
    .item-title {
      color: map-get($color, white);
      font-size: 50px;
      line-height: 50px;
      font-weight:600;
    }
    .item-description {
      color: map-get($color, blue);
      font-size: 50px;
      line-height: 50px;
      font-weight: 100;
    }
  }
}

.feature {
  display: block;
  margin-top: 10px;
  font-family: $font-title;
  .feature-header {
    background-color: map-get($color, light);
    background-image: linear-gradient(to bottom, map-get($color, white), map-get($color, c));
    background-repeat: repeat-x;
    padding: 20px 30px;
    box-shadow: $box-shadow;
    font-weight: 100;
    color: map-get($color, o);
    position: relative;
  }
  button {
    background: url("../image/nav.png") no-repeat;
    width: 53px;
    height: 73px;
    transition: none;
    box-shadow: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -36.5px;
    &:hover {
      background-position: 0 -73px;
    }
  }
  .feature-left {
    left: -18px !important;
  }
  .feature-right {
    left: auto !important;
    right: -20px;
    background: url("../image/nav.png") no-repeat -53px 0;
    &:hover {
      background-position: -53px -73px;
    }
  }
}
.feature-body {
  background-color: map-get($color, dark);
  padding: 15px 40px 25px 40px;
  box-shadow: $box-shadow;
  position: relative;
  ul {
    margin: 0 auto;
    @include flexbox();
    width: 100%;
    li {
      background-color: map-get($color, white);
      margin: 10px;
      @include flexbox();
      width: 20%;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: map-get($color, gold);
      }
    }
  }
  a {
    display: block;
    padding: 5px 5px 3px 5px;
    overflow: hidden;
  }
}

.status-publish {
  margin-top: 30px;
}
.card-list {
  display: flex;
}
.status-item {
  @include flexbox();
  justify-content: center;
  margin-top: 15px;
  &:first-child {
    margin-left: 0;
    .card-item {
      background: map-get($color, blue);
      background-color: map-get($color, f);
      background-image: linear-gradient(to bottom, map-get($color, blue), map-get($color, e));
      background-repeat: repeat-x;
    }
    .btn {
      color: map-get($color, blue);
    }
  }
  &:nth-child(2) {
    .card-item {
      background: map-get($color, green);
      background-color: map-get($color, g);
      background-image: linear-gradient(to bottom, map-get($color, green),map-get($color, h));
      background-repeat: repeat-x;
    }
    .btn {
      color: map-get($color, green);
    }
  }
  &:nth-child(3) {
    .card-item {
      background: map-get($color, gold);
      background-color: map-get($color, i);
      background-image: linear-gradient(to bottom, map-get($color, gold), map-get($color, j));
      background-repeat: repeat-x;
    }
    .btn {
      color: map-get($color, gold);
    }
  }
  &:last-child {
    margin-right: 0;
    .card-item {
      background: map-get($color, pink);
      background-color: map-get($color, k);
      background-image: linear-gradient(to bottom,map-get($color, pink), map-get($color, l));
      background-repeat: repeat-x;
    }
    .btn {
      color: map-get($color, pink);
    }
  }
}
.card-item {
  display: block;
  width: 100%;
  color: map-get($color, white);
  transition: all 600ms ease;
  opacity: 1;
  .card-header {
    padding: 18px 32px;
    font-weight: 100;
    line-height: 25px;
    font-family: $font-title;
    b {
      display: block;
    }
  }
  .card-image {
    margin-bottom: 24px;
  }
  .card-content {
    padding: 0 31px;
    font-size: 14px;
    margin-bottom: 24px !important;
  }
  .link-btn {
    display: block;
    margin: 0 32px 30px 32px;
  }
}

.poster {
  margin-top: 50px;
  color: map-get($color, o);
  .btn {
    box-shadow: $box-shadow;
  }
}
.newest-poster {
  padding-left: 15px;
  .poster-title {
    padding-bottom: 30px;
    font-family: $font-title;
    color: map-get($color, blue);
    font-weight: 600;
    font-size: 45px;
    line-height: 42px;
    p {
      font-size: 25px;
      color: map-get($color, o);
      font-weight: 100;
    }
  }
  .content {
    margin-bottom: 30px;
    .poster-description {
      h5 {
        font-weight: 100;
        line-height: 25px;
        font-family: $font-title;
      }
      p {
        margin-top: 10px;
        color: map-get($color, secondary);
      }
    }
    .poster-content {
      margin-top: 30px;
      font-size: 14px;
      color: map-get($color, secondary);
    }
  }
}
// .older-poster {
//   margin-top: 15px;
// }
.poster-card-item {
  margin-bottom: 30px;
  h4 {
    font-weight: 100;
    font-family: $font-title;
    color: map-get($color, o);
  }
  .poster-content {
    margin: 25px 0px 20px 0px;
    font-size: 14px;
    color: map-get($color, secondary);
  }
  b {
    display: block;
    font-weight: bold;
  }
  &:first-child {
    b {
      color: map-get($color, blue);
    }
  }
  &:nth-child(2) {
    b {
      color: map-get($color, green);
    }
  }
  &:nth-child(3) {
    b {
      color: map-get($color, gold);
    }
  }
  &:last-child {
    b {
      color: map-get($color, pink);
    }
  }
}

@media (max-width: 1023px) {
  .main-content {
    padding-top: 20px;
  }
  .image-gallery {
    .carousel-button {
      left: auto;
      top: auto;
      right: 5%;
      bottom: 8%;
    }
  }
  .carousel-caption {
    top: 6% !important;
    left: 6% !important;
    .item-title {
      font-size: 30px !important;
      color: map-get($color, white);
      line-height: 1em !important;
      font-weight:600;
    }
    .item-description {
      color: map-get($color, blue);
      font-size: 30px !important;
      line-height: 1em !important;
      font-weight: 100;
    }
  }
  .feature {
    button {
      left: -1.9%;
    }
    .feature-right {
      left: 96.7%;
    }
  }
  .older-poster {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .status-item:nth-child(2n+1) {
    clear: left;
  }
}

@media (max-width: 599px) {
  .carousel-caption {
    display: none !important;
  }
}