.image-gallery {
  position: relative;
  z-index: 2;
  button {
    font-size: 30px;
    background-color: map-get($color, white);
    color: map-get($color, dark);
    padding: 7px 20px;
    box-shadow:2px 2px 5px map-get($color, black);
    position: absolute;
    top: 50%;
    left: 13%;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: map-get($color, gold);
      color: map-get($color, white);
    }
  }
  .carousel-right {
    left: 17%;
  }
}

.carousel-item {
  img {
    box-shadow: 1px 2px 0 rgba(0,0,0,0.3);
    filter: grayscale(40%);
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../img/top-shadow.png) repeat-x;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }
  .carousel-caption {
    display: block;
    position: absolute;
    top: 25%;
    left: 13%;
    font-weight: 100;
    text-transform: uppercase;
    font-family: $font-title;
    .item-title {
      color: map-get($color, white);
      font-size: 50px;
      line-height: 50px;
      font-weight:400;
    }
    .item-description {
      color: map-get($color, blue);
      font-size: 50px;
      line-height: 50px;
      font-weight: 100;
    }
  }
}

.feature {
  display: block;
  margin-top: 10px;
  position: relative;
  font-family: $font-title;
  .feature-header {
    background-color: map-get($color, light);
    background-image: linear-gradient(to bottom, map-get($color, white), map-get($color, c));
    background-repeat: repeat-x;
    padding: 20px 30px;
    box-shadow: $box-shadow;
    font-weight: 100;
    color: map-get($color, o);
  }
  button {
    font-size: 30px;
    background-color: map-get($color, white);
    color: map-get($color, dark);
    padding: 7px 20px;
    box-shadow:2px 2px 5px map-get($color, black);
    position: absolute;
    top: 50%;
    &:hover {
      background-color: map-get($color, gold);
      color: map-get($color, white);
    }
  }
  .feature-right {
    left: 91.5%;
  }
  .feature-left {
    left: 4.8%;
  }
}
.feature-body {
  background-color: map-get($color, dark);
  padding: 15px 20px 25px 20px;
  box-shadow: $box-shadow;
  ul {
    margin: 0 auto;
    @include flexbox();
    width: 100%;
    li {
      background-color: map-get($color, white);
      margin: 10px;
      @include flexbox();
      width: 20%;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: map-get($color, gold);
      }
    }
  }
  a {
    display: block;
    padding: 5px 5px 3px 5px;
    overflow: hidden;
  }
}

.status-publish {
  margin-top: 30px;
}
.status-publish-content {
  .col-md-3 {
    @include flexbox();
    justify-content: center;
    padding: 10px;
    &:first-child {
      .card-item {
        background: map-get($color, blue);
        background-color: map-get($color, f);
        background-image: linear-gradient(to bottom, map-get($color, blue), map-get($color, e));
        background-repeat: repeat-x;
      }
      button {
        color: map-get($color, blue);
      }
    }
    &:nth-child(2) {
      .card-item {
        background: map-get($color, green);
        background-color: map-get($color, g);
        background-image: linear-gradient(to bottom, map-get($color, green),map-get($color, h));
        background-repeat: repeat-x;
      }
      button {
        color: map-get($color, green);
      }
    }
    &:nth-child(3) {
      .card-item {
        background: map-get($color, gold);
        background-color: map-get($color, i);
        background-image: linear-gradient(to bottom, map-get($color, gold), map-get($color, j));
        background-repeat: repeat-x;
      }
      button {
        color: map-get($color, gold);
      }
    }
    &:last-child {
      .card-item {
        background: map-get($color, pink);
        background-color: map-get($color, k);
        background-image: linear-gradient(to bottom,map-get($color, pink), map-get($color, l));
        background-repeat: repeat-x;
      }
      button {
        color: map-get($color, pink);
      }
    }
  }
}
.card-item {
  width: 100%;
  color: map-get($color, white);
  transition: all 600ms ease;
  opacity: 1;
  .card-header {
    padding: 15px 35px;
    h5 {
      font-weight: 100;
      line-height: 25px;
      font-family: $font-title;
    }
  }
  .card-content {
    padding: 15px 35px;
    font-size: 14px;
    p {
      margin-bottom: 24px !important;
    }
  }
  button {
    color: map-get($color, dark);
    background-color: map-get($color, white);
    font-weight: bold;
    transition: all 0.3s ease 0s;
    box-shadow: none;
    &:hover {
      color: #fff !important;
      background-color: map-get($color, dark);
    }
  }
}

.poster {
  margin-top: 100px;
  color: map-get($color, o);
  button {
    font-weight: 600;
    &:hover {
      background-color: map-get($color, blue);
    }
  }
}
.newest-poster {
  padding: 20px;
  padding-left: 0;
  .title {
    padding-bottom: 30px;
    font-family: $font-title;
    h2 {
      color: map-get($color, blue);
      font-weight: 600;
      font-size: 45px;
      line-height: 42px;
    }
    h3 {
      font-weight: 100;
      font-size: 25px;
      line-height: 28px;
      font-weight: 300;
    }
  }
  .content {
    margin-bottom: 30px;
    .poster-description {
      padding-left: 30px;
      h5 {
        font-weight: 100;
        line-height: 25px;
        font-family: $font-title;
      }
      p {
        margin-top: 10px;
        color: map-get($color, secondary);
      }
    }
    .poster-content {
      margin-top: 30px;
      font-size: 14px;
      color: map-get($color, secondary);
    }
  }
}
.older-poster {
  padding: 10px;
}
.poster-card-item {
  padding: 10px;
  margin-bottom: 30px;
  h4 {
    font-weight: 100;
    font-family: $font-title;
    color: map-get($color, o);
  }
  .content {
    margin: 25px 0px 20px 0px;
    font-size: 14px;
    color: map-get($color, secondary);
  }
  b {
    display: block;
    font-weight: bold;
  }
  &:first-child {
    b {
      color: map-get($color, blue);
    }
  }
  &:nth-child(2) {
    b {
      color: map-get($color, green);
    }
  }
  &:nth-child(3) {
    b {
      color: map-get($color, gold);
    }
  }
  &:last-child {
    b {
      color: map-get($color, pink);
    }
  }
}
