<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
  <nav>
     <div>
    <ul>
      <li>
      <a href="#">Text 1</a>
      </li>
      <li>
      <a href="#">Text 2</a>
      </li>
      <li>
      <a href="#">Text 3</a>
      </li>
    </ul>
    </div>
    <div>
    <span>
      <a href="#">Text 4</a>
    </span>
    <select>
      <option value="item1">item 1</option>
      <option value="item2">item 2</option>
      <option value="item3">item 3</option>
      <option value="item4">item 4</option>
    </select>
    </div>
  </nav>

  <section>
    <form>
    <button type="submit">Search</button>
    <input type="text">
    </form>
  </section>

  <section>
    <div>
    <ul>
      <li>
      <a href="#">Text 5</a>
      </li>
      <li>
      <a href="#">Text 6</a>
      </li>
      <li>
      <a href="#">Text 7</a>
      </li>
      <li>
      <a href="#">Text 8</a>
      </li>
      <li>
      <a href="#">Text 9</a>
      </li>
      <li>
      <a href="#">Text 10</a>
      </li>
    </ul>
    </div>
  </section>

  <section>
    <div>
    <img src="../img/ajax-loading.gif" alt="img-1">
    </div>
    <div>
    <div>
      <img src="../img/ajax-loading.gif" alt="img-2">
    </div>
    <div>
      <img src="../img/ajax-loading.gif" alt="img-3">
    </div>
    </div>
  </section>
  </header>
  <footer>

  </footer>
</body>
</html>