<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
  <nav>
    <div>
    <div>
      <img src="../img/c3-healthcare-logo-hi.png" alt="logo">
      <span>
      <h1>PHÒNG KHÁM CHUYÊN KHOA</h1>
      <h3>Vật trị liệu - Phục hồi chức năng</h3>
      </span>
    </div>
    <div>
      <a href="#">
      <i class="fa fa-phone"></i> Câu hỏi cho bác sĩ? 0123456789
      </a>
    </div>
    </div>
    <div>
    <div>
      <ul>
      <li>
        <a href="#">Trang chủ</a>
      </li>
      <li>
        <a href="#">Giới thiệu</a>
      </li>
      <li>
        <a href="#">Dịch vụ y tế</a>
      </li>
      <li>
        <a href="#">Y học thường thức</a>
      </li>
      <li>
        <a href="#">Đặt lịch khám</a>
      </li>
      <li>
        <a href="#">Tư vấn và liên hệ</a>
      </li>
      </ul>
    </div>
    <div>
      <ul>
      <li>
        <a href="#">
        <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
        <i class="fa fa-google-plus"></i>
        </a>
      </li>
      <li>
        <a href="#">
        <i class="fa fa-youtube"></i>
        </a>
      </li>
      </ul>
    </div>
    </div>
    <div>
    <ul>
      <li>
      <a href="#">TRANG CHỦ</a>
      </li>
      <li> / </li>
      <li>
      <a href="#">DỊCH VỤ Y TẾ</a>
      </li>
    </ul>
    </div>
  </nav>

  <section>
    <div>
    <div>
      <a href="#">NGƯỜI LỚN
      <i class="fa fa-plus"></i>
      </a>
    </div>
    <div>
      <ul>
      <li>
        <a href="#">Đau cổ-vai-tay</a>
      </li>
      <li>
        <a href="#">Đau cột sống</a>
      </li>
      <li>
        <a href="#">Thoái vị đĩa đệm</a>
      </li>
      <li>
        <a href="#">Khớp gối, khớp hông</a>
      </li>
      <li>
        <a href="#">Đau chân</a>
      </li>
      <li>
        <a href="#">Các bệnh về cơ</a>
      </li>
      <li>
        <a href="#">Thần kinh ngoại biên</a>
      </li>
      <li>
        <a href="#">Dị ứng tai biến mạch máu não</a>
      </li>
      <li>
        <a href="#">Dị ứng chấn thương</a>
      </li>
      </ul>
    </div>
    </div>

    <div>
    <div>
      <a href="#">TRẺ EM
      <i class="fa fa-plus"></i>
      </a>
    </div>
    <div>
      <ul>
      <li>
        <a href="#">Item 1</a>
      </li>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
      <li>
        <a href="#">Item 4</a>
      </li>
      <li>
        <a href="#">Item 5</a>
      </li>
      </ul>
    </div>
    </div>

    <div>
    <div>
      <h3>ĐẶT LỊCH KHÁM</h3>
    </div>
    <div>
      <form>
      <input type="text" placeholder="Họ & tên">
      <input type="text" placeholder="Địa chỉ">
      <input type="number" placeholder="Số điện thoại">
      <input type="date" placeholder="Thời gian">
      </form>
      <button type="submit">ĐẶT LỊCH</button>
    </div>
    </div>
  </section>

  <section>
    <div>
    <div>
      <div>
      <img src="../img/ajax-loading.gif" alt="image">
      </div>
      <div>
      <h3>Item Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro excepturi ipsam, quasi quaerat, animi praesentium
        illo quam laudantium iure modi nisi, soluta ea. Inventore neque velit a repellendus necessitatibus.</p>
      </div>
    </div>

    <div>
      <div>
      <img src="../im../img/ajax-loading.gif" alt="image">
      </div>
      <div>
      <h3>Item Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro excepturi ipsam, quasi quaerat, animi praesentium
        illo quam laudantium iure modi nisi, soluta ea. Inventore neque velit a repellendus necessitatibus.</p>
      </div>
    </div>

    <div>
      <div>
      <img src="../im../img/ajax-loading.gif" alt="image">
      </div>
      <div>
      <h3>Item Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro excepturi ipsam, quasi quaerat, animi praesentium
        illo quam laudantium iure modi nisi, soluta ea. Inventore neque velit a repellendus necessitatibus.</p>
      </div>
    </div>

    <div>
      <div>
      <img src="../im../img/ajax-loading.gif" alt="image">
      </div>
      <div>
      <h3>Item Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro excepturi ipsam, quasi quaerat, animi praesentium
        illo quam laudantium iure modi nisi, soluta ea. Inventore neque velit a repellendus necessitatibus.</p>
      </div>
    </div>

    <div>
      <div>
      <img src="../im../img/ajax-loading.gif" alt="image">
      </div>
      <div>
      <h3>Item Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro excepturi ipsam, quasi quaerat, animi praesentium
        illo quam laudantium iure modi nisi, soluta ea. Inventore neque velit a repellendus necessitatibus.</p>
      </div>
    </div>

    <div>
      <div>
      <img src="../im../img/ajax-loading.gif" alt="image">
      </div>
      <div>
      <h3>Item Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro excepturi ipsam, quasi quaerat, animi praesentium
        illo quam laudantium iure modi nisi, soluta ea. Inventore neque velit a repellendus necessitatibus.</p>
      </div>
      <a href="#"><i class="fa fa-arrow-right"></i></a>
    </div>
    </div>
  </section>
  </header>

  <footer>
  <div>
    <div>
    <h3>VỀ PHÒNG KHÁM</h3>
    <ul>
      <li><a href="#">GIỚI THIỆU CHUNG</a></li>
      <li><a href="#">NHÂN LỰC</a></li>
      <li><a href="#">TRANG THIẾT BỊ VÀ CƠ SỞ VẬT CHẤT</a></li>
    </ul>
    </div>

    <div>
    <h3>HỖ TRỢ</h3>
    <ul>
      <li><a href="#">TƯ VẤN SỨC KHỎE</a></li>
      <li><a href="#">Y HỌC THƯỜNG THỨC</a></li>
      <li><a href="#">ĐẶT LỊCH KHÁM</a></li>
    </ul>
    </div>

    <div>
    <h3>KẾT NỐI XÃ HỘI</h3>
    <ul>
      <li><a href="#"><i class="fa fa-facebook"></i>FACEBOOK</a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i>GOOGLE+</a></li>
      <li><a href="#"><i class="fa fa-youtube"></i>YOUTUBE</a></li>
    </ul>
    </div>
  </div>
  <div>
    <p>@ 2015 - BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN KHOA</p>
  </div>
  </footer>
</body>

</html>