<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">_
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div class="container">
    <button type="button" class="cart-btn" id="cart-btn">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span class="noti-quantity" id="noti"></span>
    </button>
    <div class="row product-list">
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 card">
        <div class="prd-item">
          <img class="prd-img" src="../images/product.jpg" alt="product">
          <div class="product-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          </div>
          <button class="buy-btn" id="btn-1" type="button" data-name="product01" data-price="100">BUY</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 card">
        <div class="prd-item">
          <img class="prd-img" src="../images/product.jpg" alt="product">
          <div class="product-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          </div>
          <button class="buy-btn" id="btn-2" type="button" data-name="product02" data-price="200">BUY</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 card">
        <div class="prd-item">
          <img class="prd-img" src="../images/product.jpg" alt="product">
          <div class="product-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
          </div>
          <button class="buy-btn" id="btn-3" type="button" data-name="product03" data-price="300">BUY</button>
        </div>
      </div>
    </div>
    <div class="hidden" id="cart-detail">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tb-prd">
            <th scope="row" class="th-prd">9</th>
            <td class="td-prd">Mark</td>
            <td class="td-prd">2</td>
            <td class="td-prd">100</td>
            <td class="td-prd">200</td>
          </tr>
          <tr class="tb-prd">
            <th scope="row" class="th-prd">9</th>
            <td class="td-prd">Jacob</td>
            <td class="td-prd">2</td>
            <td class="td-prd">100</td>
            <td class="td-prd">200</td>
          </tr>
          <tr class="tb-prd">
            <th scope="row" class="th-prd">9</th>
            <td class="td-prd">Larry</td>
            <td class="td-prd">2</td>
            <td class="td-prd">100</td>
            <td class="td-prd">200</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/javascript" src="../js/test.js"></script>
</body>
</html>
