<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->

        <button type="button" class="cart-btn" id="cart-btn">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span class="noti-quantity" id="noti"></span>
    </button>
      </form>
    </div>
  </nav>

  <div class="container">
    <!-- <button type="button" class="cart-btn" id="cart-btn">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span class="noti-quantity" id="noti"></span>
    </button> -->
    <div class="row product-list">
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 card">
        <div class="prd-item">
          <img class="prd-img" src="../images/product.jpg" alt="product">
          <div class="product-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <button class="buy-btn" id="1" type="button" data-id="1" data-name="product01" data-price="100">BUY</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 card">
        <div class="prd-item">
          <img class="prd-img" src="../images/product.jpg" alt="product">
          <div class="product-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <button class="buy-btn" id="2" type="button" data-id="2" data-name="product02" data-price="200">BUY</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-4 card">
        <div class="prd-item">
          <img class="prd-img" src="../images/product.jpg" alt="product">
          <div class="product-detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <button class="buy-btn" id="3" type="button" data-id="3" data-name="product03" data-price="300">BUY</button>
        </div>
      </div>
    </div>
    <div class="hidden" id="cart-detail">
      <h3 id="noti-in-card">Your cart is empty!</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/javascript" src="../js/test.js"></script>
</body>
</html>
