button {
  cursor: pointer;
  background-color: map-get($color, dark);
  color: map-get($color, white);
  font-family: $font-title;
  border: none;
  text-align: center;
  padding: 10px 20px;
  box-shadow: $box-shadow;
  transition: all 0.3s ease;
  outline: none;
}

.back-to-top {
  display: inherit !important;
  position: fixed;
  left: 95%;
  top: 88%;
  z-index: 999;
  padding: 5px 12px 10px 12px;
  background-color: map-get($color, blue);
  font-size: 25px;
  transition: all 0.8s ease 0s;
  &:hover {
    background-color: map-get($color, dark);
  }
  @media (max-width: 1023px) {
    display: none !important;
  }
}

.btn {
  display: inline-block;
  transition: all 0.3s ease;
  font-family: $font-title;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 600;
}

.btn-white {
  background-color: map-get($color, white);
  &:hover {
    color: #fff !important;
    background-color: map-get($color, dark);
  }
}

.btn-dark {
  background-color: map-get($color, dark);
  &:hover {
    background-color: map-get($color, blue);
  }
}
