/*
Error: Invalid CSS after "  gray-b: #555": expected ")", was ";"
        on line 20 of sass/base/_variable.scss
        from line 2 of sass/base/all.scss
        from line 2 of sass/style.scss

15:   disable: #d9d9d9,
16:   black: #000000,
17:   white: #ffffff,
18:   gray: #f2f3f9,
19:   gray-a: #ddd,
20:   gray-b: #555;
21:   green: #39D0AF,
22:   pink: #D56F93,
23:   red: #ff0000,
24:   blue: #2BD4D9,
25:   dark-blue: #00BBC1,

Backtrace:
sass/base/_variable.scss:20
sass/base/all.scss:2
sass/style.scss:2
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/lexer.rb:231:in `expected!'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:731:in `assert_tok'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:667:in `paren'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:619:in `square_list'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:606:in `special_fun'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:600:in `raw'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:519:in `funcall'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:500:in `ident'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_not'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_div'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_minus'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:291:in `unary_plus'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `plus_or_minus'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `relational'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `eq_or_neq'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `and_expr'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:272:in `or_expr'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:474:in `space'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:415:in `interpolation'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:339:in `expr'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:722:in `assert_expr'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:68:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1134:in `sass_script'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:642:in `variable'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:689:in `block_contents'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:321:in `to_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:329:in `map'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/var/lib/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  gray-b: #555\": expected \")\", was \";\"\A         on line 20 of sass/base/_variable.scss\A         from line 2 of sass/base/all.scss\A         from line 2 of sass/style.scss\A \A 15:   disable: #d9d9d9,\A 16:   black: #000000,\A 17:   white: #ffffff,\A 18:   gray: #f2f3f9,\A 19:   gray-a: #ddd,\A 20:   gray-b: #555;\A 21:   green: #39D0AF,\A 22:   pink: #D56F93,\A 23:   red: #ff0000,\A 24:   blue: #2BD4D9,\A 25:   dark-blue: #00BBC1,"; }
