@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../image/bg-top.jpg");
  background-size: 100% 52.85%;
  background-repeat: no-repeat;
  overflow-x: hidden; }
  body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../image/top-shadow.png) repeat-x;
    top: 0;
    left: 0;
    z-index: 1; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 100%; }

b {
  font-weight: bold; }

p {
  font-size: 14px;
  line-height: 23px; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 16px; }

.p-2 {
  padding: 32px; }

.p-3 {
  padding: 48px; }

button {
  cursor: pointer;
  background-color: #343a40;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border: none;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none; }

.back-to-top {
  display: inherit !important;
  position: fixed;
  left: 95%;
  top: 88%;
  z-index: 999;
  padding: 5px 12px 10px 12px;
  background-color: #2BD4D9;
  font-size: 25px;
  transition: all 0.8s ease 0s; }
  .back-to-top:hover {
    background-color: #343a40; }
  @media (max-width: 1023px) {
    .back-to-top {
      display: none !important; } }

.btn {
  display: inline-block;
  transition: all 0.3s ease;
  font-family: "Open Sans", sans-serif;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 600; }

.btn-white {
  background-color: #ffffff; }
  .btn-white:hover {
    color: #fff !important;
    background-color: #343a40; }

.btn-dark {
  background-color: #343a40; }
  .btn-dark:hover {
    background-color: #2BD4D9; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease 0s; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before {
    content: " ";
    display: table; }
  .row:after {
    clear: both;
    content: " ";
    display: table; }

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

/* For large desktop: */
@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-2 {
    width: 16.6666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333%; }

  .col-lg-5 {
    width: 41.6666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333%; }

  .col-lg-8 {
    width: 66.6666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333%; }

  .col-lg-11 {
    width: 91.6666667%; }

  .col-lg-12 {
    width: 100%; } }
/* For desktop: */
@media (min-width: 768px) and (max-width: 1023px) {
  .col-md-1 {
    width: 8.33333333%; }

  .col-md-2 {
    width: 16.6666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333%; }

  .col-md-5 {
    width: 41.6666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333%; }

  .col-md-8 {
    width: 66.6666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333%; }

  .col-md-11 {
    width: 91.6666667%; }

  .col-md-12 {
    width: 100%; } }
/* For tablets: */
@media (min-width: 600px) and (max-width: 767px) {
  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-2 {
    width: 16.6666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333%; }

  .col-sm-5 {
    width: 41.6666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333%; }

  .col-sm-8 {
    width: 66.6666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333%; }

  .col-sm-11 {
    width: 91.6666667%; }

  .col-sm-12 {
    width: 100%; } }
/* For mobile phones */
@media (max-width: 599px) {
  .col-1 {
    width: 8.33333333%; }

  .col-2 {
    width: 16.6666667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.3333333%; }

  .col-5 {
    width: 41.6666667%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.3333333%; }

  .col-8 {
    width: 66.6666667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.3333333%; }

  .col-11 {
    width: 91.6666667%; }

  .col-12 {
    width: 100%; } }
.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px; }
  .container::after {
    content: " ";
    display: table; }

.header {
  padding-top: 80px;
  position: relative;
  z-index: 1000;
  font-family: "Open Sans", sans-serif; }

.top-navbar {
  color: #ffffff; }
  .top-navbar .logo {
    position: relative; }
    .top-navbar .logo span {
      position: absolute;
      bottom: 3px;
      left: 88px;
      font: 300 15px/1em "Open Sans", sans-serif; }

.social-icon {
  text-align: right; }
  .social-icon li {
    padding: 2px;
    display: inline-block; }
  .social-icon a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 0px;
    background-color: #343a40;
    border-radius: 50%;
    transition: all 0.3s ease 0s; }
    .social-icon a:hover {
      background-color: #00BBC1; }

.navigation {
  margin-top: 55px;
  position: relative;
  background-color: #2BD4D9; }

.js-toggle-menu {
  font-size: 30px !important;
  display: none;
  width: 70px;
  min-width: 70px;
  padding: 15px 0px;
  text-align: center;
  box-shadow: none;
  background-color: transparent; }
  .js-toggle-menu:hover {
    background-color: #00BBC1; }

.main-menu {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-right: 1px solid #91e5e9; }

.mm-item {
  display: list-item;
  float: left;
  line-height: 23px;
  max-width: 160px;
  width: 100%;
  text-align: center;
  border-left: 1px solid #91e5e9;
  border-right: 1px solid #37bdc6; }
  .mm-item:first-child {
    width: 70px;
    min-width: 70px;
    border-left: none; }
    .mm-item:first-child a {
      padding: 19px 0px; }
    .mm-item:first-child i {
      font-size: 30px; }
  .mm-item a {
    display: block;
    padding: 23px 0px 24px;
    transition: all 0.3s ease 0s;
    font-size: 15px; }
    .mm-item a:hover, .mm-item a.active {
      background-color: #00BBC1; }

.mm-submenu-content {
  display: none;
  position: absolute;
  left: 105%;
  top: 0;
  background-color: #343a40;
  width: 100%;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
  .mm-submenu-content li {
    border: none; }
    .mm-submenu-content li a:hover {
      background-color: #343a40;
      color: #D2BA55; }
  .mm-submenu-content::after {
    position: absolute;
    content: "";
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 7px solid #343a40;
    right: 100%;
    top: 20px; }

.right-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px; }

.navbar-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  position: relative; }
  .navbar-form input {
    height: 40px;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    color: #ffffff;
    box-shadow: inset 1px 1px 0 #4da9af;
    background-color: #00BBC1;
    width: 100%;
    font-size: 18px; }
  .navbar-form button {
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    box-shadow: none;
    right: 25px;
    top: 50%;
    cursor: pointer;
    padding: 0px;
    margin-top: -15px; }

.mm-has-submenu {
  position: relative;
  display: inline-block; }
  .mm-has-submenu:hover > .mm-submenu {
    display: block;
    min-width: 100%; }

.mm-submenu {
  display: none;
  position: absolute;
  background-color: #2bd4d9;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 0px; }
  .mm-submenu a {
    padding: 10px 0px; }
    .mm-submenu a:hover {
      color: #000000;
      background-color: transparent; }
  .mm-submenu li:nth-child(2) {
    position: relative; }
    .mm-submenu li:nth-child(2):hover .mm-submenu-content {
      display: block; }

.active {
  display: block !important; }
  .active .mm-item {
    width: 100%; }

@media (max-width: 767px) {
  .header {
    padding-top: 25px; }

  .social-icon {
    display: none; }

  .navigation {
    margin-top: 30px; }

  .main-menu {
    display: none; }

  .left-nav {
    width: 100%; }

  .mm-item {
    width: 100%;
    display: block;
    border: none;
    max-width: 100%;
    border-bottom: 1px solid #00BBC1; }
    .mm-item a {
      padding: 15px 0px; }
    .mm-item:first-child a {
      padding: 15px 0px; }
    .mm-item:first-child i {
      font-size: 25px; }

  .mm-submenu {
    box-shadow: none; }
    .mm-submenu a {
      padding: 15px 0px;
      border-top: 1px solid #00BBC1; }

  .js-toggle-menu {
    display: inline-block; }

  .right-nav {
    position: absolute;
    right: 0;
    width: 220px; } }
@media (max-width: 1200px) {
  .navbar-form {
    padding-right: 10px; } }
.footer {
  display: block;
  background-color: #343a40;
  padding-top: 100px;
  padding-bottom: 50px; }

.footer-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .footer-left span {
    color: #D2BA55;
    font-size: 15px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    margin-left: 8px; }
    .footer-left span a {
      color: #D2BA55; }
    .footer-left span a:hover {
      color: #5ecdd4; }

.footer-right .fr-title {
  font-weight: 100;
  color: #ffffff;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif; }
.footer-right li {
  margin-top: 18px; }
.footer-right a {
  font-size: 14px;
  color: #868e96; }
  .footer-right a:hover {
    color: #D2BA55; }
.footer-right span {
  padding-right: 10px; }
.footer-right i {
  color: #ffffff;
  padding: 0px 5px;
  background-color: #717171; }

@media (max-width: 1023px) {
  .footer-right {
    margin-top: 15px; }

  .footer-right-item {
    margin-top: 15px;
    margin-bottom: 15px; } }
.main-content {
  padding-bottom: 20px;
  position: relative;
  z-index: 999; }

.image-gallery {
  position: relative;
  z-index: 2; }
  .image-gallery .carousel-button {
    display: block;
    position: absolute;
    top: 55%;
    left: 13%; }
  .image-gallery button {
    display: inline-block;
    background: url("../image/nav-slider.png") no-repeat;
    width: 53px;
    height: 54px;
    transition: none;
    box-shadow: none; }
    .image-gallery button:hover {
      background-position: 0 -54px; }
  .image-gallery .carousel-right {
    background: url("../image/nav-slider.png") no-repeat -53px 0; }
    .image-gallery .carousel-right:hover {
      background-position: -53px -54px; }

.carousel-item img {
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  filter: grayscale(40%);
  width: 100%; }
  .carousel-item img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/top-shadow.png) repeat-x;
    top: 0;
    left: 0;
    z-index: 3; }
.carousel-item .carousel-caption {
  display: block;
  position: absolute;
  top: 25%;
  left: 13%;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }
  .carousel-item .carousel-caption .item-title {
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600; }
  .carousel-item .carousel-caption .item-description {
    color: #2BD4D9;
    font-size: 50px;
    line-height: 50px;
    font-weight: 100; }

.feature {
  display: block;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif; }
  .feature .feature-header {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
    background-repeat: repeat-x;
    padding: 20px 30px;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
    font-weight: 100;
    color: #181818;
    position: relative; }
  .feature button {
    background: url("../image/nav.png") no-repeat;
    width: 53px;
    height: 73px;
    transition: none;
    box-shadow: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -36.5px; }
    .feature button:hover {
      background-position: 0 -73px; }
  .feature .feature-left {
    left: -18px !important; }
  .feature .feature-right {
    left: auto !important;
    right: -20px;
    background: url("../image/nav.png") no-repeat -53px 0; }
    .feature .feature-right:hover {
      background-position: -53px -73px; }

.feature-body {
  background-color: #343a40;
  padding: 15px 40px 25px 40px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  position: relative; }
  .feature-body ul {
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%; }
    .feature-body ul li {
      background-color: #ffffff;
      margin: 10px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 20%;
      transition: all 0.3s ease 0s; }
      .feature-body ul li:hover {
        background-color: #D2BA55; }
  .feature-body a {
    display: block;
    padding: 5px 5px 3px 5px;
    overflow: hidden; }

.status-publish {
  margin-top: 30px; }

.card-list {
  display: flex; }

.status-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-top: 15px; }
  .status-item:first-child {
    margin-left: 0; }
    .status-item:first-child .card-item {
      background: #2BD4D9;
      background-color: #71cad0;
      background-image: linear-gradient(to bottom, #2BD4D9, #4da9af);
      background-repeat: repeat-x; }
    .status-item:first-child .btn {
      color: #2BD4D9; }
  .status-item:nth-child(2) .card-item {
    background: #39D0AF;
    background-color: #71d0b4;
    background-image: linear-gradient(to bottom, #39D0AF, #5ebca0);
    background-repeat: repeat-x; }
  .status-item:nth-child(2) .btn {
    color: #39D0AF; }
  .status-item:nth-child(3) .card-item {
    background: #D2BA55;
    background-color: #d4bc62;
    background-image: linear-gradient(to bottom, #D2BA55, #c0a84e);
    background-repeat: repeat-x; }
  .status-item:nth-child(3) .btn {
    color: #D2BA55; }
  .status-item:last-child {
    margin-right: 0; }
    .status-item:last-child .card-item {
      background: #D56F93;
      background-color: #c97895;
      background-image: linear-gradient(to bottom, #D56F93, #b56481);
      background-repeat: repeat-x; }
    .status-item:last-child .btn {
      color: #D56F93; }

.card-item {
  display: block;
  width: 100%;
  color: #ffffff;
  transition: all 600ms ease;
  opacity: 1; }
  .card-item .card-header {
    padding: 18px 32px;
    font-weight: 100;
    line-height: 25px;
    font-family: "Open Sans", sans-serif; }
    .card-item .card-header b {
      display: block; }
  .card-item .card-image {
    margin-bottom: 24px; }
  .card-item .card-content {
    padding: 0 31px;
    font-size: 14px;
    margin-bottom: 24px !important; }
  .card-item .link-btn {
    display: block;
    margin: 0 32px 30px 32px; }

.poster {
  margin-top: 50px;
  color: #181818; }
  .poster .btn {
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }

.newest-poster {
  padding-left: 15px; }
  .newest-poster .poster-title {
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    color: #2BD4D9;
    font-weight: 600;
    font-size: 45px;
    line-height: 35px; }
    .newest-poster .poster-title b {
      display: block;
      font-size: 25px;
      color: #181818;
      font-weight: 100; }
  .newest-poster .content {
    margin-bottom: 30px; }
    .newest-poster .content .poster-description h5 {
      font-weight: 100;
      line-height: 25px;
      font-family: "Open Sans", sans-serif; }
    .newest-poster .content .poster-description p {
      margin-top: 10px;
      color: #868e96; }
    .newest-poster .content .poster-content {
      margin-top: 30px;
      font-size: 14px;
      color: #868e96; }

.poster-card-item {
  margin-bottom: 63px; }
  .poster-card-item .poster-title {
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    color: #181818; }
  .poster-card-item .poster-content {
    margin: 25px 0px 20px 0px;
    font-size: 14px;
    color: #868e96; }
  .poster-card-item b {
    display: block;
    font-weight: bold; }
  .poster-card-item:first-child b {
    color: #2BD4D9; }
  .poster-card-item:nth-child(2) b {
    color: #39D0AF; }
  .poster-card-item:nth-child(3) b {
    color: #D2BA55; }
  .poster-card-item:last-child b {
    color: #D56F93; }

@media (max-width: 1023px) {
  .main-content {
    padding-top: 20px; }

  .image-gallery .carousel-button {
    left: auto;
    top: auto;
    right: 5%;
    bottom: 8%; }

  .carousel-caption {
    top: 6% !important;
    left: 6% !important; }
    .carousel-caption .item-title {
      font-size: 30px !important;
      color: #ffffff;
      line-height: 1em !important;
      font-weight: 600; }
    .carousel-caption .item-description {
      color: #2BD4D9;
      font-size: 30px !important;
      line-height: 1em !important;
      font-weight: 100; }

  .feature button {
    left: -1.9%; }
  .feature .feature-right {
    left: 96.7%; }

  .older-poster {
    margin-top: 30px; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .status-item:nth-child(2n+1) {
    clear: left; } }
@media (max-width: 599px) {
  .carousel-caption {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
