body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto !important;
  z-index: 2; }

h1 {
  font-size: 48px;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 40px;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 35px;
  margin: 0;
  padding: 0; }

h4 {
  font-size: 30px;
  margin: 0;
  padding: 0; }

h5 {
  font-size: 25px;
  margin: 0;
  padding: 0; }

h6 {
  font-size: 20px;
  margin: 0;
  padding: 0; }

.cover {
  background-image: url("../img/background.jpg");
  background-size: 100% 52.88%;
  background-repeat: no-repeat;
  background-attachment: local; }
  .cover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/top-shadow.png) repeat-x;
    top: 0;
    left: 0;
    z-index: 1; }

.header {
  padding-top: 80px;
  position: relative;
  z-index: 99; }
  .header .top-navbar {
    display: flex;
    align-items: center;
    color: #fff; }
    .header .top-navbar .logo {
      max-height: 100px;
      padding-left: 0px;
      padding-right: 0px; }
      .header .top-navbar .logo img {
        width: 60px; }
    .header .top-navbar .title {
      transform: translate(-4%, 10%);
      line-height: 32px; }
      .header .top-navbar .title p {
        margin: 0;
        font-size: 14px; }
    .header .top-navbar .social-icon {
      text-align: right;
      padding-right: 0; }
      .header .top-navbar .social-icon ul li {
        padding: 5px;
        display: inline-block; }
        .header .top-navbar .social-icon ul li button {
          border: none;
          background-color: #313941;
          color: #fff;
          cursor: pointer;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          font-size: 18px;
          box-shadow: 3px 3px 5px #313941;
          transition: all 0.3s ease 0s; }
          .header .top-navbar .social-icon ul li button:hover {
            background-color: #2AD3D9; }
  .header nav {
    display: block;
    background-color: #66d1d7;
    margin-top: 55px;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
    .header nav ul {
      display: flex;
      align-items: center; }
      .header nav ul li {
        border-left: 1px solid #91e5e9;
        border-right: 1px solid #37bdc6; }
        .header nav ul li:last-child {
          float: none;
          border-right: none; }
        .header nav ul li:first-child {
          border-left: none; }
          .header nav ul li:first-child a {
            padding: 22px 16px;
            font-size: 14px; }
        .header nav ul li a {
          display: block;
          padding: 28px 50px;
          color: #fff;
          text-decoration: none;
          transition: all 0.3s ease 0s;
          font-size: 13px; }
          .header nav ul li a:hover, .header nav ul li a.active {
            background-color: #00BBC1; }
        .header nav ul li .navbar-form {
          position: relative;
          display: flex;
          width: 245px;
          left: 20%;
          padding: 16px 0px; }
          .header nav ul li .navbar-form input {
            height: 40px;
            padding-right: 40px;
            padding-left: 20px;
            border-radius: 10px;
            border: none;
            outline: none;
            color: #fff;
            box-shadow: inset 1px 1px 0 #4da9af;
            background-color: #00BBC1;
            width: 100%;
            font-size: 18px; }
          .header nav ul li .navbar-form button {
            position: absolute;
            color: #fff;
            border: none;
            background-color: transparent;
            font-size: 20px;
            left: 85%;
            top: 30%;
            cursor: pointer; }
      .header nav ul .dropdown {
        position: relative;
        display: inline-block; }
      .header nav ul .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 165px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 0px;
        background-color: #66d1d7;
        z-index: 3; }
        .header nav ul .dropdown-content li {
          float: none;
          text-align: center;
          width: 100%;
          border: none; }
          .header nav ul .dropdown-content li a {
            border: none;
            padding: 10px 0px;
            font-size: 13px; }
            .header nav ul .dropdown-content li a:hover {
              color: #000; }
        .header nav ul .dropdown-content .tooltip {
          position: relative;
          display: inline-block;
          text-align: center; }
        .header nav ul .dropdown-content .tooltip .tooltiptext {
          visibility: hidden;
          display: none;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 3;
          top: -40px;
          left: 100%; }
          .header nav ul .dropdown-content .tooltip .tooltiptext ul {
            display: block; }
            .header nav ul .dropdown-content .tooltip .tooltiptext ul li {
              display: block; }
              .header nav ul .dropdown-content .tooltip .tooltiptext ul li a:hover {
                color: #D5BC57;
                background-color: transparent; }
        .header nav ul .dropdown-content .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent black transparent transparent; }
        .header nav ul .dropdown-content .tooltip:hover .tooltiptext {
          visibility: visible;
          display: block; }
      .header nav ul .dropdown:hover .dropdown-content {
        display: block; }

.main-content .image-gallery {
  position: relative;
  z-index: 2; }
  .main-content .image-gallery .carousel-inner .item img {
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
    filter: grayscale(40%);
    width: 100%; }
    .main-content .image-gallery .carousel-inner .item img::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../img/top-shadow.png) repeat-x;
      top: 0;
      left: 0;
      z-index: 3; }
  .main-content .image-gallery .carousel-inner .item .carousel-caption {
    display: block;
    position: absolute;
    top: 25%;
    left: 13%;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; }
    .main-content .image-gallery .carousel-inner .item .carousel-caption .item-title {
      color: #fff;
      font-weight: 600; }
    .main-content .image-gallery .carousel-inner .item .carousel-caption .item-description {
      color: #30D4DA;
      font-size: 45px;
      margin: 0;
      line-height: 35px;
      font-weight: 100; }
  .main-content .image-gallery button {
    font-size: 30px;
    background-color: #fff;
    cursor: pointer;
    padding: 7px 20px;
    border: none;
    box-shadow: 2px 2px 5px #000;
    position: absolute;
    top: 50%;
    left: 13%;
    transition: all 0.3s ease 0s; }
    .main-content .image-gallery button:hover {
      background-color: #E0C445;
      color: #fff; }
  .main-content .image-gallery .carousel-right {
    left: 17%; }
.main-content .feature {
  display: block;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  position: relative; }
  .main-content .feature .feature-header {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #ffffff, #dedede);
    background-repeat: repeat-x;
    padding: 10px 30px;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
    .main-content .feature .feature-header h4 {
      font-weight: 100; }
  .main-content .feature .feature-body {
    background-color: #2D333A;
    padding: 15px 20px 25px 20px;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
    .main-content .feature .feature-body ul {
      margin: 0 auto;
      display: flex;
      width: 100%; }
      .main-content .feature .feature-body ul li {
        background-color: #fff;
        margin: 10px;
        display: flex;
        width: 20%;
        transition: all 0.3s ease 0s; }
        .main-content .feature .feature-body ul li:hover {
          background-color: #E0C445; }
        .main-content .feature .feature-body ul li a {
          display: block;
          padding: 5px 5px 0px 5px;
          overflow: hidden; }
  .main-content .feature button {
    font-size: 30px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    padding: 7px 20px;
    border: none;
    box-shadow: 2px 2px 5px #000;
    position: absolute;
    transition: all 0.3s ease 0s;
    top: 50%; }
    .main-content .feature button:hover {
      background-color: #E0C445;
      color: #fff; }
  .main-content .feature .feature-right {
    left: 91.5%; }
  .main-content .feature .feature-left {
    left: 4.8%; }
.main-content .status-publish {
  margin-top: 30px; }
  .main-content .status-publish .status-publish-content .card-list .col-md-3 {
    display: flex;
    justify-content: center;
    padding: 10px; }
    .main-content .status-publish .status-publish-content .card-list .col-md-3:first-child .card-item {
      background: #7ed7dd;
      background-color: #71cad0;
      background-image: linear-gradient(to bottom, #7ed7dd, #5db6bc);
      background-repeat: repeat-x; }
      .main-content .status-publish .status-publish-content .card-list .col-md-3:first-child .card-item button {
        color: #7ed7dd; }
    .main-content .status-publish .status-publish-content .card-list .col-md-3:nth-child(2) .card-item {
      background: #7eddc1;
      background-color: #71d0b4;
      background-image: linear-gradient(to bottom, #7eddc1, #5ebca0);
      background-repeat: repeat-x; }
      .main-content .status-publish .status-publish-content .card-list .col-md-3:nth-child(2) .card-item button {
        color: #7eddc1; }
    .main-content .status-publish .status-publish-content .card-list .col-md-3:nth-child(3) .card-item {
      background: #e1c96f;
      background-color: #d4bc62;
      background-image: linear-gradient(to bottom, #e1c96f, #c0a84e);
      background-repeat: repeat-x; }
      .main-content .status-publish .status-publish-content .card-list .col-md-3:nth-child(3) .card-item button {
        color: #e1c96f; }
    .main-content .status-publish .status-publish-content .card-list .col-md-3:last-child .card-item {
      background: #d685a2;
      background-color: #c97895;
      background-image: linear-gradient(to bottom, #d685a2, #b56481);
      background-repeat: repeat-x; }
      .main-content .status-publish .status-publish-content .card-list .col-md-3:last-child .card-item button {
        color: #d685a2; }
    .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item {
      width: 100%;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      transition: all 600ms ease;
      opacity: 1; }
      .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item .card-header {
        padding: 15px 35px; }
        .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item .card-header h5 {
          font-weight: 100;
          line-height: 25px; }
      .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item .card-content {
        padding: 15px 35px;
        font-size: 14px; }
        .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item .card-content p {
          margin: 0;
          margin-bottom: 24px !important; }
        .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item .card-content button {
          border: none;
          background-color: #fff;
          padding: 10px 20px;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease 0s; }
          .main-content .status-publish .status-publish-content .card-list .col-md-3 .card-item .card-content button:hover {
            color: #fff;
            background-color: #2C333A; }
.main-content .poster {
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px; }
  .main-content .poster button {
    font-weight: 600;
    background-color: #2C333A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
    .main-content .poster button:hover {
      background-color: #00CED4; }
  .main-content .poster .newest-poster {
    padding: 20px;
    padding-left: 0; }
    .main-content .poster .newest-poster h5, .main-content .poster .newest-poster h6 {
      font-weight: 100; }
    .main-content .poster .newest-poster .title {
      line-height: 35px;
      padding-bottom: 30px; }
      .main-content .poster .newest-poster .title h2 {
        color: #00CED4;
        font-weight: 600; }
    .main-content .poster .newest-poster .content {
      margin-bottom: 30px; }
      .main-content .poster .newest-poster .content .poster-description {
        padding-left: 30px; }
        .main-content .poster .newest-poster .content .poster-description p {
          font-size: 14px;
          color: #787878; }
      .main-content .poster .newest-poster .content .poster-content {
        padding-top: 15px;
        font-size: 14px;
        color: #787878; }
  .main-content .poster .older-poster {
    padding: 10px; }
    .main-content .poster .older-poster .poster-card-item {
      padding: 10px;
      margin-bottom: 30px; }
      .main-content .poster .older-poster .poster-card-item .title h5 {
        font-weight: 100;
        line-height: 25px; }
      .main-content .poster .older-poster .poster-card-item .content {
        margin: 35px 0px 20px 0px;
        font-size: 14px;
        color: #787878; }
      .main-content .poster .older-poster .poster-card-item:first-child b {
        color: #71cad0; }
      .main-content .poster .older-poster .poster-card-item:nth-child(2) b {
        color: #71d0b4; }
      .main-content .poster .older-poster .poster-card-item:nth-child(3) b {
        color: #d4bc62; }
      .main-content .poster .older-poster .poster-card-item:last-child b {
        color: #c97895; }

.footer {
  background-color: #2C3239;
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: 'Open Sans', sans-serif; }
  .footer .footer-left .footer-logo {
    display: flex;
    height: 50px; }
    .footer .footer-left .footer-logo img {
      display: inline-block;
      padding-right: 10px; }
    .footer .footer-left .footer-logo .logo-title {
      display: inline-block; }
      .footer .footer-left .footer-logo .logo-title h5 {
        color: #fff;
        display: inline;
        padding-right: 5px; }
      .footer .footer-left .footer-logo .logo-title span {
        color: #C7AF4A; }
      .footer .footer-left .footer-logo .logo-title p {
        color: #fff;
        font-size: 10px;
        margin: 0; }
  .footer .footer-right h5 {
    font-weight: 100;
    color: #fff; }
  .footer .footer-right ul li {
    margin-top: 10px; }
    .footer .footer-right ul li span {
      padding-right: 10px; }
      .footer .footer-right ul li span i {
        color: #fff;
        padding: 0px 5px;
        background-color: #717171; }
    .footer .footer-right ul li a {
      text-decoration: none;
      font-size: 14px;
      color: #787878;
      transition: all 0.3s ease 0s; }
      .footer .footer-right ul li a:hover {
        color: #C7AF4A; }

.back-to-top {
  display: inherit !important;
  position: fixed;
  left: 95%;
  top: 88%;
  box-shadow: 3px 3px 5px #313941;
  z-index: 999; }
  .back-to-top button {
    padding: 15px;
    background-color: #30D4DA;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: all 1s ease 0s; }
    .back-to-top button:hover {
      background-color: #348084; }

/*# sourceMappingURL=style.css.map */
