.footer {
  display: block;
  background-color: map-get($color, dark);
  padding-top: 100px;
  padding-bottom: 50px;
}
.footer-left {
  @include flexbox();
  @include flex-align(center);
  height: 45px;
  img {
    padding-right: 10px;
  }
  h3 {
    color: map-get($color, white);
    padding-right: 5px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    font-family: $font-title;
    &:after {
      display: block;
      content: "TRAVEL AGENCY";
      font-weight: 100;
      font-size: 10px !important;
      font-family: $font-content;
    }
  }
  span {
    color: map-get($color, gold);
    font-size: 15px;
    font-weight: 100;
  }
}
.footer-right {
  h4 {
    font-weight: 100;
    color: map-get($color, white);
    padding-bottom: 15px;
    font-family: $font-title;
  }
  li {
    margin-top: 18px;
  }
  a {
    font-size: 14px;
    color: map-get($color, secondary);
    &:hover {
      color: map-get($color, gold);
    }
  }
  span {
    padding-right: 10px;
  }
  i {
    color: map-get($color, white);
    padding: 0px 5px;
    background-color: map-get($color, d);            
  }
}
