.footer {
  display: block;
  background-color: map-get($color, dark);
  padding-top: 100px;
  padding-bottom: 50px;
}
.footer-left {
  @include flexbox();
  @include flex-align(center);
  span {
    color: map-get($color, gold);
    font-size: 15px;
    font-weight: 100;
    font-family: $font-title;
    margin-left: 8px;
    a {
      color: map-get($color, gold);
    }
    a:hover {
      color: map-get($color, p);
    }
  }
}
.footer-right {
  .fr-title {
    font-weight: 100;
    color: map-get($color, white);
    padding-bottom: 15px;
    font-family: $font-title;
  }
  li {
    margin-top: 18px;
  }
  a {
    font-size: 14px;
    color: map-get($color, secondary);
    &:hover {
      color: map-get($color, gold);
    }
  }
  span {
    padding-right: 10px;
  }
  i {
    color: map-get($color, white);
    padding: 0px 5px;
    background-color: map-get($color, d);            
  }
}
