.header {
  padding-top: 80px;
  position: relative;
  z-index: 99;
  font-family: $font-title;
}

.top-navbar {
  color: map-get($color, white);
  .logo {
    position: relative;
    p {
      position: absolute;
      bottom: 3px;
      left: 88px;
      font: 300 15px/1em $font-title;
    }
  }
}

.social-icon {
  text-align: right;
  li {
    padding: 2px;
    display: inline-block;
  }
  a {
    @include flexbox();
    @include flex-align(center);
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 0px;
    background-color: rgb(52, 58, 64);
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: map-get($color, dark-blue);
    }
  }
}

.navigation {
  margin-top: 55px;
  position: relative;
}
.main-menu {
  align-items: center;
  @include flexbox();
  background-color: map-get($color, blue);
}
.mm-select {
  display: none;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid #DDD;
  background-color: #e4e4e4;
  line-height: 33px;
  font-size: 14px;
  color: #555;
  padding: 5px;
}
.mm-select-item {
  padding: 10px 5px;
}
.mm-item {
  display: list-item;
  float: left;
  line-height: 23px;
  max-width: 160px;
  width: 100%;
  text-align: center;
  border-left: 1px solid rgb(145, 229, 233);
  border-right: 1px solid rgb(55, 189, 198);
  &:first-child {
    min-width: 60px;
    width: 7%;
    border-left: none;
    a {
      padding: 19px 0px;
    }
    i {
      font-size: 30px;
    }
  }
  a {
    display: block;
    padding: 23px 0px 24px;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    &:hover, &.active {
      background-color: map-get($color, dark-blue);
    }
  }
}
.sm-tab-content {
  display: none;
  position: absolute;
  left: 108%;
  top: 0;
  background-color: map-get($color, dark);
  width: 100%;
  box-shadow: $box-shadow;
  li {
    border: none;
    a:hover {
      background-color: map-get($color, dark);
      color: map-get($color, gold);
    }
  }
  &::after {
    position: absolute;
    content: "";
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid map-get($color, dark);
    right: 100%;
    top: 20px;
  }
}
.navbar-form {
  @include flexbox();
  height: 100%;
  padding: 15px 20px 15px 20px;
  border-left: 1px solid rgb(145, 229, 233);
  input {
    height: 40px;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    color: map-get($color, white);
    box-shadow: inset 1px 1px 0 map-get($color, e);
    background-color: map-get($color, dark-blue);
    width: 100%;
    font-size: 18px;
  }
  button {
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    box-shadow: none;
    right: 3%;
    top: 30%;
    cursor: pointer;
    padding: 0px;
  }
}

.mm-submenu {
  position: relative;
  display: inline-block;
  &:hover {
    >.submenu-content {
      display: block;
      min-width: 100%;
    }
  }
}
.submenu-content {
  display: none;
  position: absolute;
  background-color: rgb(43, 212, 217);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 0px;
  a {
    padding: 10px 0px;
    &:hover {
      color: map-get($color, black);
      background-color: transparent;
    }
  }
  li:nth-child(2) {
    position: relative;
    &:hover {
      .sm-tab-content {
        display: block;
      }
    }
  }
}

@media (max-width: 767px) {
  // .navbar-form {
  //   display: none;
  // }
  .main-menu {
    display: none;
  }
  .mm-select {
    display: block;
  }
}

@media (max-width: 900px) {
  .navbar-form {
    display: none;
  }
}
