.header {
  padding-top: 80px;
  position: relative;
  z-index: 1000;
  font-family: $font-title;
}

.top-navbar {
  color: map-get($color, white);
  .logo {
    position: relative;
    span {
      position: absolute;
      bottom: 3px;
      left: 88px;
      font: 300 15px/1em $font-title;
    }
  }
}

.social-icon {
  text-align: right;
  li {
    padding: 2px;
    display: inline-block;
  }
  a {
    @include flexbox();
    @include flex-align(center);
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 0px;
    background-color: rgb(52, 58, 64);
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: map-get($color, dark-blue);
    }
  }
}

.navigation {
  margin-top: 55px;
  position: relative;
  background-color: map-get($color, blue);
}

.js-toggle-menu {
  font-size: 30px !important;
  display: none;
  width: 70px;
  min-width: 70px;
  padding: 15px 0px;
  text-align: center;
  box-shadow: none;
  background-color: transparent;
  &:hover {
    background-color: map-get($color, dark-blue);
  }
}

.main-menu {
  align-items: center;
  @include flexbox();
  border-right: 1px solid map-get($color, blue-bl);
}
.mm-item {
  display: list-item;
  float: left;
  line-height: 23px;
  max-width: 160px;
  width: 100%;
  text-align: center;
  border-left: 1px solid map-get($color, blue-bl);
  border-right: 1px solid map-get($color, blue-br);
  &:first-child {
    width: 70px;
    min-width: 70px;
    border-left: none;
    a {
      padding: 19px 0px;
    }
    i {
      font-size: 30px;
    }
  }
  a {
    display: block;
    padding: 23px 0px 24px;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    &:hover, &.active {
      background-color: map-get($color, dark-blue);
    }
  }
}
.mm-submenu-content {
  display: none;
  position: absolute;
  left: 105%;
  top: 0;
  background-color: map-get($color, dark);
  width: 100%;
  box-shadow: $box-shadow;
  li {
    border: none;
    a:hover {
      background-color: map-get($color, dark);
      color: map-get($color, gold);
    }
  }
  &::after {
    position: absolute;
    content: "";
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 7px solid map-get($color, dark);
    right: 100%;
    top: 20px;
  }
}
.right-nav {
  @include flexbox();
  @include flex-align(center);
  padding: 15px;
}
.navbar-form {
  @include flexbox();
  height: 100%;
  position: relative;
  input {
    height: 40px;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    color: map-get($color, white);
    box-shadow: inset 1px 1px 0 map-get($color, e);
    background-color: map-get($color, dark-blue);
    width: 100%;
    font-size: 18px;
  }
  button {
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    box-shadow: none;
    right: 25px;
    top: 50%;
    cursor: pointer;
    padding: 0px;
    margin-top: -15px;
  }
}

.mm-has-submenu {
  position: relative;
  display: inline-block;
  &:hover {
    >.mm-submenu {
      display: block;
      min-width: 100%;
    }
  }
}
.mm-submenu {
  display: none;
  position: absolute;
  background-color: map-get($color, blue-sm);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 0px;
  a {
    padding: 10px 0px;
    &:hover {
      color: map-get($color, black);
      background-color: transparent;
    }
  }
  li:nth-child(2) {
    position: relative;
    &:hover {
      .mm-submenu-content {
        display: block;
      }
    }
  }
}

.active {
  display: block !important;
  .mm-item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 25px;
  }
  .social-icon {
    display: none;
  }
  .navigation {
    margin-top: 30px;
  }
  .main-menu {
    display: none;
  }
  .left-nav {
    width: 100%;
  }
  .mm-item {
    width: 100%;
    display: block;
    border: none;
    max-width: 100%;
    border-bottom: 1px solid map-get($color, dark-blue);
    a {
      padding: 15px 0px;
    }
    &:first-child {
      a {
        padding: 15px 0px;
      }
      i {
        font-size: 25px;
      }
    }
  }
  .mm-submenu {
    box-shadow: none;
    a {
      padding: 15px 0px;
      border-top: 1px solid map-get($color, dark-blue);
    }
  }
  .js-toggle-menu {
    display: inline-block;
  }
  .right-nav {
    position: absolute;
    right: 0;
    width: 220px;
  }
}

@media (max-width: 1200px) {
  .navbar-form {
    padding-right: 10px;
  }
}
