.header {
  padding-top: 80px;
  position: relative;
  z-index: 99;
  font-family: $font-title;
}

.top-navbar {
  @include flexbox();
  @include flex-align(center);
  color: map-get($color, white);
  .logo {
    max-height: 100px;
    img {
      width: 60px;
    }
  }
  .title {
    transform: translate(-4%, 0);
    line-height: 32px;
    h1 {
      font-weight: 600;
    }
  }
}

.social-icon {
  text-align: right;
  padding-right: 0;
  ul {
    li {
      padding: 5px;
      display: inline-block;
    }
    button {
      width: 35px;
      height: 35px;
      padding: 10px;
      padding-top: 9px;
      padding-left: 9px;
      border-radius: 50%;
      font-size: 18px;
      box-shadow: $box-shadow;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: map-get($color, dark-blue);
      }
    }
  }
}

.navigation {
  display: block;
  background-color: map-get($color, blue);
  margin-top: 55px;
  box-shadow: $box-shadow;
  .main-menu {
    @include flexbox();
    align-items: center;
    li {
      border-left: 1px solid map-get($color, m);
      border-right: 1px solid map-get($color, n);
      &:last-child {
        float: none;
        border-right: none;
      }
      &:first-child {
        border-left: none;
        a {
          padding: 20px 16px;
          font-size: 14px;
        }
      }
      a {
        display: block;
        padding: 26px 50px;
        transition: all 0.3s ease 0s;
        font-size: 15px;
        &:hover, &.active {
          background-color: map-get($color, dark-blue);
        }
      }
    }
  }
  .tab-content {
  display: none;
  position: absolute;
  left: 108%;
  top: 0;
  background-color: map-get($color, dark);
  width: 100%;
  box-shadow: $box-shadow;
  li {
    border: none;
    a:hover {
      background-color: map-get($color, dark);
      color: map-get($color, gold);
    }
  }
  &::after {
    position: absolute;
    content: "";
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid map-get($color, dark);
    right: 100%;
    top: 20px;
  }
}
}

.navbar-form {
  position: relative;
  @include flexbox();
  width: 245px;
  right: -15%;
  padding: 14px 0px;
  height: 100%;
  input {
    height: 40px;
    padding-right: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: map-get($color, white);
    box-shadow: inset 1px 1px 0 map-get($color, e);
    background-color: map-get($color, dark-blue);
    width: 100%;
    font-size: 18px;
  }
  button {
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    padding: 0;
    box-shadow: none;
    left: 88%;
    top: 32%;
    cursor: pointer;
  }
}

.dropdown-submenu {
  position: relative;
  display: inline-block;
  &:hover {
    >.submenu-content {
      display: block;
      min-width: 100%;
    }
  }
}
.submenu-content {
  display: none;
  position: absolute;
  background-color: map-get($color, blue);
  text-align: center;
  box-shadow: $box-shadow;
  a {
    padding: 15px 16px !important;
    &:hover {
      color: map-get($color, black);
      background-color: transparent !important;
    }
  }
  li:nth-child(2) {
    position: relative;
    &:hover {
      .tab-content {
        display: block;
      }
    }
  }
}
