.back-to-top {
  display: inherit !important;
  position: fixed;
  left: 95%;
  top: 88%;
  box-shadow:3px 3px 5px #313941;
  z-index: 999;
  button {
    padding: 15px;
    background-color: #30D4DA;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 20px;
    transition: all 1s ease 0s;
    &:hover {
      background-color: #348084;
    }
  }
}