.back-to-top {
  display: inherit !important;
  position: fixed;
  left: 95%;
  top: 88%;
  z-index: 999;
  padding: 15px;
  background-color: $blue-color;
  font-size: 20px;
  transition: all 1s ease 0s;
  &:hover {
    background-color: $dark-blue-color;
  }
}
