.back-to-top {
  display: inherit !important;
  position: fixed;
  left: 95%;
  top: 88%;
  z-index: 999;
  padding: 15px;
  background-color: map-get($color, blue);
  font-size: 20px;
  transition: all 0.8s ease 0s;
  &:hover {
    background-color: map-get($color, dark);
  }
}
